{% extends "index.html" %}

{% block content %}

<!--slider area start-->
<section class="slider_section  mb-42">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="slider_area slider_three owl-carousel">

                    {% for carusel in carusel %}
                    {% if carusel.carusel_image %}
                    <div class="slider_item">
                        
                    <img class="single_slider d-flex align-items-center" src="{{ carusel.carusel_image.url }}" alt="">
                        <div class="slider_text">
                            <h2>{{ carusel.carusel_text }}</h2>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                </div>
            </div>
            <div class="col-lg-3 col-md-4 offset-md-4 offset-lg-0">
                {% for baher_glav1 in baher_glav1 %}
                <div class="sidebar_banner">
                    <div class="banner_thumb">
                        <a href="{% url 'product_detail' id=baher_glav1.id %}">
                            {% if baher_glav1.image_for_banner %}
                            <img src="{{ baher_glav1.image_for_banner.url }}" alt="">
                            {% endif %}
                        </a>
                        <div class="banner_text">
                            <h4>{{ baher_glav1.reklam_text|safe}}</h4>
                            <!-- <h3 style="text-transform: none;">{{ baher_glav1.reklam_text|safe }}++</h3> -->
                            <h4>{{ baher_glav1.skidka }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>
<!--slider area end-->

    <!--product area start-->
    <section class="new_product_area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_tab_button tab_button2">
                        <ul class=" nav" role="tablist" id="nav-tab">
                            <li>
                                <a class="active" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="true"><span>Хит</span> продаж</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#view" role="tab" aria-controls="view" aria-selected="false"><span>Рекомендуемый</span> товар</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#bestseller" role="tab" aria-controls="bestseller" aria-selected="false"><span>Новый</span> товар</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="featured" role="tabpanel">
                    <div class="new_product_container">

                        {% for big_hit_prodaj in big_hit_prodaj %}
                        <div class="sample_product">
                            <div class="product_name">
                                <h3 style="text-transform: none;"><a href="{% url 'product_detail' id=big_hit_prodaj.id %}">
                                        <h4>{{ big_hit_prodaj.name|safe}}</h4> 
                                    </a>
                                </h3>

                                {% if big_hit_prodaj.reklam_title %}
                                    <div class="manufacture_product">
                                    <p>
                                        <a href="{% url 'product_detail' id=big_hit_prodaj.id %}">
                                            <h4>{{ big_hit_prodaj.reklam_title|safe}}</h4>
                                        </a>
                                    </p>
                                    </div>
                                {% else %}
                                {% endif %}
                            </div>

                            {% if big_hit_prodaj.image %}
                            <div class="product_thumb">
                                <a href="{% url 'product_detail' id=big_hit_prodaj.id %}">
                                    <img src="{{ big_hit_prodaj.image.url }}" alt="">
                                </a>
                            </div>
                            {% else %}
                            {% endif %}
                            
                            
                            <div class="product_content">
                                <span class="current_price">
                                    {% if big_hit_prodaj.price %}
                                        <h4>цена {{ big_hit_prodaj.price }} руб.</h4>
                                    {% else %}
                                    {% endif %}        
                                    
                                </span>
                                <div class="price_box">
                                    <span class="current_price">
                                        {% if big_hit_prodaj.price %}
                                            {{ big_hit_prodaj.skidka }}
                                        {% else %}
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="bar_percent">
                                </div>
                            </div>
                            

                            <div class="quantity_progress">
                                <p class="product_available"> <span>Ostendorf</span></p>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="product_carousel product_bg  product_column2 owl-carousel">

                            <div class="small_product">
                                {% for  hit_prodaj in hit_prodaj%}
                                <div class="single_product">
                                    
                                    <div class="product_content">
                                        <h3 style="text-transform: none;"><a href="{% url 'product_detail' id=hit_prodaj.id %}"><h4>{{hit_prodaj.name}}</h4></a></h3>
                                        
                                        {% if hit_prodaj.price %}
                                        <div class="price_box">
                                            <span class="current_price">{{hit_prodaj.price}} руб.</span>
                                        </div>
                                        {% else %}
                                        {% endif %}
                                        <div class="quantity_progress">
                                            <p class="product_available"> <span>Ostendofr</span></p>
                                        </div>
                                    </div>
                                    <div class="product_thumb">
                                        <a class="primary_img" href="{% url 'product_detail' id=hit_prodaj.id %}"><img src="{{ hit_prodaj.image.url }}" alt=""></a>
                                    </div>
                                    
                                </div>
                                {% endfor %} 
                            </div>

                            <div class="small_product">
                                {% for  hit_prodaj2 in hit_prodaj2 %}
                                <div class="single_product">
                                    
                                    <div class="product_content">
                                        <h3 style="text-transform: none;"><a href="{% url 'product_detail' id=hit_prodaj2.id %}"><h4>{{hit_prodaj2.name}}</h4></a></h3>
                                        <div class="product_ratings">
                                        </div>
                                        {% if hit_prodaj2.price %}
                                        <div class="price_box">
                                            <span class="current_price">{{hit_prodaj2.price}} руб.</span>
                                        </div>
                                        {% else %}
                                        {% endif %}
                                        <div class="quantity_progress">
                                            <p class="product_available"><span>Ostendofr</span></p>
                                        </div>
                                    </div>
                                    <div class="product_thumb">
                                        <a class="primary_img" href="{% url 'product_detail' id=hit_prodaj2.id %}"><img src="{{ hit_prodaj2.image.url }}" alt=""></a>
                                    </div>
                                </div>
                                {% endfor %} 
                            </div>

                        </div>
                    </div>
                </div>
                <!--РЕКОМЕНДОВАННЫЙ ТОВАР НАЧАЛО-->
                <div class="tab-pane fade" id="view" role="tabpanel">
                    <div class="new_product_container">
                        <!--РЕКОМЕНДОВАННЫЙ ТОВАР БОЛЬШАЯ ФОТО НАЧАЛО-->
                        {% for big_recomend in big_recomend %}
                        <div class="sample_product">
                            <div class="product_name">
                                <h3 style="text-transform: none;"><a href="{% url 'product_detail' id=big_recomend.id %}">
                                    <h4>{{big_recomend.name|safe}}</h4> 
                                    </a>
                                </h3>

                                {% if big_recomend.reklam_title %}
                                <div class="manufacture_product">
                                    <p><a href="{% url 'product_detail' id=big_recomend.id %}">
                                        <h4>{{ big_recomend.reklam_title|safe }}</h4>
                                        </a>
                                    </p>
                                </div>
                                    {% else %}
                                    {% endif %}
                            </div>

                            {% if big_recomend.image %}
                            <div class="product_thumb">
                                <a href="{% url 'product_detail' id=big_recomend.id %}">
                                    <img src="{{ big_recomend.image.url }}" alt="">
                                </a>
                            </div>
                            {% else %}
                            {% endif %}

                            <div class="product_content">
                                <span class="current_price">
                                    {% if big_recomend.price %}
                                        <h4>цена {{ big_recomend.price }} руб.</h4>
                                    {% else %}
                                    {% endif %}        
                                </span>

                                <div class="price_box">
                                    <span class="current_price">
                                        {% if big_recomend.price %}
                                            {{ big_recomend.skidka }}
                                        {% else %}
                                        {% endif %}
                                    </span>
                                </div>        
                                <div class="bar_percent">
                                </div>
                            </div>
                            <div class="quantity_progress">
                                <p class="product_available"><span>Ostendofr</span></p>
                            </div>
                        </div>
                        {% endfor %}
                        <!--РЕКОМЕНДОВАННЫЙ ТОВАР БОЛЬШАЯ ФОТО КОНЕЦ-->
                        <!--РЕКОМЕНДОВАННЫЙ ТОВАР ПЕРВАЯ ЛИНИЯ НАЧАЛО-->
                        <div class="product_carousel product_bg  product_column2 owl-carousel">
                            <div class="small_product">
                                {% for  recomend in recomend %}
                                <div class="single_product">
                                    
                                    <div class="product_content">
                                        <h3 style="text-transform: none;"><a href="{% url 'product_detail' id=recomend.id %}"><h4>{{recomend.name}}</h4></a></h3>
                                        {% if recomend.price %}
                                        <div class="price_box">
                                            <span class="current_price">{{recomend.price}} руб.</span>
                                        </div>
                                        {% else %}
                                        {% endif %}
                                        <div class="quantity_progress">
                                            <p class="product_available"><span>Ostendofr</span></p>
                                        </div>
                                    </div>
                                    <div class="product_thumb">
                                        <a class="primary_img" href="{% url 'product_detail' id=recomend.id %}">
                                            <img src="{{ recomend.image.url }}" alt=""></a>
                                    </div>
                                </div>
                                {% endfor %} 
                            </div>
                            <!--РЕКОМЕНДОВАННЫЙ ТОВАР ПЕРВАЯ ЛИНИЯ КОНЕЦ-->
                            <!--РЕКОМЕНДОВАННЫЙ ТОВАР ВТОРАЯ ЛИНИЯ НАЧАЛО-->
                            <div class="small_product">
                                {% for  recomend2 in recomend2 %}
                                <div class="single_product">
                                    
                                    <div class="product_content">
                                        <h3 style="text-transform: none;"><a href="{% url 'product_detail' id=recomend2.id %}"><h4>{{recomend2.name}}</h4></a></h3>
                                        {% if recomend2.price %}
                                        <div class="price_box">
                                            <span class="current_price">{{recomend2.price}} руб.</span>
                                        </div>
                                        {% else %}
                                        {% endif %}
                                        <div class="quantity_progress">
                                            <p class="product_available"><span>Ostendofr</span></p>
                                        </div>
                                    </div>
                                    <div class="product_thumb">
                                        <a class="primary_img" href="{% url 'product_detail' id=recomend2.id %}">
                                            <img src="{{ recomend2.image.url }}" alt=""></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <!--РЕКОМЕНДОВАННЫЙ ТОВАР ВТОРАЯ ЛИНИЯ КОНЕЦ-->
                        </div>
                    </div>
                </div>
                <!--НОВЫЕ ТОВАРы БОЛЬШАЯ ФОТО НАЧАЛО-->
                <div class="tab-pane fade" id="bestseller" role="tabpanel">
                    <div class="new_product_container">
                        {% for big_new_tovar in big_new_tovar %}
                        <div class="sample_product">
                            <div class="product_name">
                                <h3 style="text-transform: none;"><a href="{% url 'product_detail' id=big_new_tovar.id %}">
                                        <h4>{{big_new_tovar.reklam_title}}</h4>
                                    </a>
                                </h3>
                                {% if big_new_tovar.reklam_title %}
                                <div class="manufacture_product">
                                    <p><a href="{% url 'product_detail' id=big_new_tovar.id %}">
                                            <h4>{{big_new_tovar.reklam_text}}</h4>
                                        </a>
                                    </p>
                                </div>
                                {% else %}
                                {% endif %}
                            </div>
                            {% if big_new_tovar.image %}
                            <div class="product_thumb">
                                <a href="{% url 'product_detail' id=big_new_tovar.id %}">
                                    <img src="{{ big_new_tovar.image.url }}" alt="">
                                </a>
                            </div>
                            {% else %}
                            {% endif %}
                            <div class="product_content">
                                <span class="current_price">
                                    {% if big_new_tovar.price %}
                                    <h4>цена {{ big_new_tovar.price }} руб.</h4>
                                    {% else %}
                                    {% endif %}
                                </span>
                                <div class="price_box">
                                    <span class="current_price">
                                        {% if big_new_tovar.skidka %}
                                            {{ big_new_tovar.skidka }}
                                        {% else %}
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="bar_percent">
                                </div>
                            </div>
                                <div class="quantity_progress">
                                    <p class="product_available"><span>Ostendofr</span></p>
                                </div>
                        </div>
                        {% endfor %}
                        <div class="product_carousel product_bg  product_column2 owl-carousel">
                            <div class="small_product">
                                {% for  new_tovar in new_tovar %}
                                <div class="single_product">
                                    
                                <div class="product_content">
                                        <h3 style="text-transform: none;"><a href="{% url 'product_detail' id=new_tovar.id %}"><h4>{{new_tovar.name}}</h4></a></h3>
                                        <div class="product_ratings">
                                        </div>
                                        {% if new_tovar.price %}
                                        <div class="price_box">
                                            <span class="current_price">{{ new_tovar.price }} руб.</span>
                                        </div>
                                        {% else %}
                                        {% endif %}
                                        <div class="quantity_progress">
                                            <p class="product_available"><span>Ostendofr</span></p>
                                        </div>
                                    </div>
                                    <div class="product_thumb">
                                        <a class="primary_img" href="{% url 'product_detail' id=new_tovar.id %}">
                                            <img src="{{ new_tovar.image.url }}" alt="">
                                        </a>
                                    </div>
                                    
                                </div>
                                {% endfor %}
                            </div>
                            <div class="small_product">
                                {% for  new_tovar2 in new_tovar2 %}
                                <div class="single_product">
                                    
                                    <div class="product_content">
                                        <h3 style="text-transform: none;"><a href="{% url 'product_detail' id=new_tovar2.id %}"><h4>{{new_tovar2.name}}</h4></a></h3>
                                        <div class="product_ratings">
                                        </div>
                                        {% if new_tovar2.price %}
                                        <div class="price_box">
                                            <span class="current_price">{{new_tovar2.price}} руб.</span>
                                        </div>
                                        {% else %}
                                        {% endif %}
                                        <div class="quantity_progress">
                                            <p class="product_available"><span>Ostendofr</span></p>
                                        </div>
                                    
                                    </div>
                                    
                                    <div class="product_thumb">
                                        <a class="primary_img" href="{% url 'product_detail' id=new_tovar2.id %}">
                                            <img src="{{ new_tovar2.image.url }}" alt=""></a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--product area end-->

    <!--banner area start-->
    <section class="banner_area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="banner_container">
                        {% for carusel_home_page in carusel_home_page %}
                        <div class="single_banner">
                            <div class="banner_thumb">
                                <a href="{% url 'product_detail' id=carusel_home_page.id %}">
                                    <img src="{{ carusel_home_page.image_for_banner.url }}" alt="">
                                </a>
                                <div class="banner_text osvetlenie">
                                    <h3 style="text-transform: none;">{{ carusel_home_page.reklam_title|safe}}</h3>
                                    <h2>{{ carusel_home_page.skidka|safe}}</h2>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% for carusel_home_page2 in carusel_home_page2 %}
                        <div class="single_banner">
                            <div class="banner_thumb">
                                <a href="{% url 'product_detail' id=carusel_home_page2.id %}">
                                    <img src="/spinplast/assets/img/pndgl.jpg" alt="">
                                </a>
                                <div class="banner_text osvetlenie">
                                    <h3 style="text-transform: none;">{{ carusel_home_page2.reklam_title|safe}}</h3>
                                    <h2>{{ carusel_home_page2.skidka|safe}}</h2>
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--banner area end-->

    <!--product area start-->
    <section class="product_area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2><span> <strong>Специальное</strong>предложение</span></h2>
                        <ul class="product_tab_button nav" role="tablist" id="nav-tab2">
                            <li>
                                <a class="active" data-toggle="tab" href="#brake" role="tab" aria-controls="brake" aria-selected="true">Смотреть все</a>
                            </li>
                            <li>
                        </ul>
                    </div>
                </div>
                </div>
                    <div class="product_carousel product_column5 owl-carousel">
                        {% for specpredlojenie in specpredlojenie %}
                        <div class="single_product">
                            <div class="product_name">
                                <h3><a href="{% url 'product_detail' id=specpredlojenie.id %}">
                                    {{specpredlojenie.name|safe}}</a></h3>
                                
                            </div>
                            <div class="product_thumb">
                                <a class="primary_img" href="{% url 'product_detail' id=specpredlojenie.id %}">
                                    <img src="{{ specpredlojenie.image.url }}" alt="">
                                </a>
                                
                            </div>
                            {% if  specpredlojenie.price %}
                            <div class="product_content">
                                <div class="product_footer d-flex align-items-center">
                                    <div class="price_box">
                                        <span class="regular_price">{{specpredlojenie.price}} руб.</span>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            {% endif %}
                        </div>
                    {% endfor %}        

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--product area end-->

    <!--banner area start-->
    <section class="banner_area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% for big_banner_glav_vnizy in big_banner_glav_vnizy %}
                    <div class="single_banner banner_fullwidth">
                        <div class="banner_thumb">
                            <a href="{% url 'product_detail' id=big_banner_glav_vnizy.id %}">
                                <img src="{{ big_banner_glav_vnizy.image_for_banner.url }}" alt="">
                            </a>
                            <!-- <div class="banner_text osvetlenie"> -->
                            <div class="banner_text">    
                    
                                <h2 style="color: #ffd54c;">{{ big_banner_glav_vnizy.reklam_title }}</h2>
                                <h3 style="color: #ffd54c;">{{ big_banner_glav_vnizy.skidka }}</h3>
                                <p>{{ big_banner_glav_vnizy.reklam_text }}</p>
                               
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--banner area end-->

    <!--product area start-->
    <section class="product_area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                        <h2><span> <strong>Самые</strong>продаваемые</span></h2>
                        <ul class="product_tab_button nav" role="tablist" id="nav-tab2">
                            <li>
                                <a class="active" data-toggle="tab" href="#brake" role="tab" aria-controls="brake" aria-selected="true">Смотреть все</a>
                            </li>
                            <li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="brake" role="tabpanel">
                    <div class="product_carousel product_column5 owl-carousel">
                        {% for samie_prodavaemie in samie_prodavaemie %}
                        <div class="single_product_list">
                            <div class="single_product">
                                <div class="product_name">
                                    <h3>
                                        <a href="{% url 'product_detail' id=samie_prodavaemie.id %}">{{ samie_prodavaemie.name }}</a>
                                    </h3>
                                   
                                </div>
                                <div class="product_thumb">
                                    <a class="primary_img" href="{% url 'product_detail' id=samie_prodavaemie.id %}">
                                        <img src="{{ samie_prodavaemie.image.url }}" alt="">
                                    </a>
                                   
                                </div>
                                {% if  samie_prodavaemie.price %}
                                <div class="product_content">
                                    <div class="product_footer d-flex align-items-center">
                                        <div class="price_box">
                                            <span class="regular_price">{{ samie_prodavaemie.price }} руб.</span>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                {% endif %}
                            </div> 
                        </div> 
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--product area end-->

{% endblock %}