{% extends "index.html" %}

{% block content %}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="{% url 'home_page' %}">главная</a></li>
                          {% for category in categories %}
                        <li>
                            <a href="{% url 'category_detail' slug=category.slug %}">{{ category.title_kategory }}</a>
                        </li>
                           {% endfor %}

                        <li>{{product.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!--Checkout page section-->
<div class="Checkout_section mt-32">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="user-actions">
                    <h2> 
                        {{ product.name }} 
                        
                    </h2> 
                </div>
            </div>
        </div>
    </div>
</div>
<!--Checkout page section end-->

   <!--contact area start-->
    <div class="contact_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="product-details-tab">
                        {% if product.image%}
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <img src="{{ product.image.url }}"  alt="big-1">
                        </div>
                         {% else %}
                         {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="product-details-tab">
                        {% if product.image_shema %}
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <img src="{{ product.image_shema.url }}"  alt="big-1">
                        </div>
                        {% else %}
                         {% endif %}
                    </div>
                </div>
            </div>
    
                    <div class="col-12">
                        <div class="product_d_inner">
                            <div class="product_info_button">
                                <ul class="nav" role="tablist" id="nav-tab">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">
                                            Характеристики товара </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="info" role="tabpanel">
        
                                    {% include 'include/110000.html' %}
        
                                    <div class="product_info_content">
                                        {% for opisanie in product.opisanie_tovara.all %}
                                        <p>{{ opisanie.description|safe }}</p>
                                        {% endfor %}
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    </div>
        
        </div>
    </div>

<!--product info end-->
{% endblock %}